# Binaries
terraform-provider-opusdns
terraform-provider-opusdns_*

# Go artifacts
*.test
*.out

# Terraform files
.terraform/
*.tfstate
*.tfstate.backup
.terraform.lock.hcl

# IDE
.vscode/
.idea/

# OS
.DS_Store
/.envrc
